<!DOCTYPE html>
<head>
    <title>Create your ticket | Support Portal Page</title>
    <style>
        .form-left-item {
            display: inline-block;
            margin: 5px;
            padding: 5px;
            position: relative;
        }

    </style>
</head>
<body>
    <h2>Create your own ticket</h2>
    <form>
        <label class="form-left-item">Ttile: </label><input type="text" name="enter issue title"><br>
        <label class="form-left-item">Description: </label><textarea id="description" class="txt-description" rows="10", cols="50">Type your issue details...</textarea><br>
        <input type="submit" value="submit" id="btn-submit" class="btn-submit">
    </form>
</body>
</html>